<header class="container">
  <h1>Angular Testing</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo accusantium dolorum minus maiores tenetur ea sed delectus eaque, est, voluptatibus nam. Maiores soluta quas nulla rerum numquam voluptatibus unde et!</p>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/pico-preview">Pico Preview</a>
      </li>
    </ul>
  </nav>
</header>

<div>
  <router-outlet></router-outlet>
</div>
